PushMsgOnTimeSchedule_LineChatBot.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 30
            },
            {
              "triggerAtHour": 12
            },
            {
              "triggerAtHour": 17
            },
            {
              "triggerAtHour": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "3904b3d3-bfb9-4490-af9f-a0ef1eca108e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=貼心有元氣的助理, \n根據時間早、中、晚回覆我相關的訊息,勉勵的話、慰問的話\n{{ $json['Readable time'] }}\n回覆少於30字的繁體中文 ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "fddb5500-4763-472c-96a3-a9313aba0a16",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "79840463-44f7-4654-bf19-cb8bfc35ab36",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "uIyjfQBF1lWk8NHb",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"to\": \"Udadf8b4a85cda11f00335bf7fda5e656\",\n    \"messages\":[\n        {\n            \"type\":\"text\",\n            \"text\": {{JSON.stringify($json.output) }}\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        0
      ],
      "id": "896d1583-0385-4725-8b9d-75def679671c",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "eG03QG6SJ2tutR5O",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Taipei",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "3f2f0b61-3124-4d5f-a183-07d2ea23b005",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6d55da6da06b85fbf3c3039e22f0cc164046e09b12d06bb8c2b182e9e4408c50"
  },
  "id": "BCtGHlNrhnADi87f",
  "tags": []
}