n8n_workflow/Insert Chat [activity_log].json
{
  "name": "Insert Chat [activity_log]",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4fce7928-7b35-4682-8111-15cf14057d77",
              "name": "activity_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "cf374d0a-9d81-4625-b58c-2dfc5ba8022d",
              "name": "chain_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "3c036c3b-5dbb-42dd-bb6e-44f2bda1c4d1",
              "name": "activity_type",
              "value": "",
              "type": "string"
            },
            {
              "id": "81e518de-d217-4dcd-89a6-18473bc368b7",
              "name": "occurred_at",
              "value": "",
              "type": "object"
            },
            {
              "id": "bbb98196-af8c-427d-a062-fe57baf66bf6",
              "name": "details",
              "value": "",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        -304
      ],
      "id": "415895ac-c010-463c-9dcd-95478343a8b1",
      "name": "Mapping [activity_log]"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "activity_log",
        "fields": "activity_id,chain_id,activity_type,occurred_at,details",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -16,
        -304
      ],
      "id": "bfd3ba18-2fdc-4dec-9fd2-cee9e93f16a8",
      "name": "Insert documents",
      "credentials": {
        "mongoDb": {
          "id": "XhJV9sh6HSUrP479",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "user_identity",
        "options": {
          "projection": "{\n  \"_id\":0, \n  \"user_id\":1,\n  \"external_user_id\":1\n}"
        },
        "query": "=  {\n    \"provider\": \"line\",\n    \"bot_id\": \"{{ $('[activity_log]_input').first().json.bot_id }}\",\n  \"external_user_id\": { \"$in\": {{JSON.stringify( $node[\"SetParticipants\"].json.participants || []) }}\n  }\n  }"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1040,
        -304
      ],
      "id": "a9dcbdb2-baf1-4271-81a0-14fd2a6dcd10",
      "name": "Find_[user_identity]",
      "credentials": {
        "mongoDb": {
          "id": "XhJV9sh6HSUrP479",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "chat_rooms",
        "options": {},
        "query": "={\"chat_id\":{\"$in\":{{JSON.stringify( $item(0).$node[\"[activity_log]_input\"].json.participatingGroupsID || []) }}}}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1424,
        -304
      ],
      "id": "7e03086e-5bc2-4843-8061-97e3c7163a9d",
      "name": "Find_[chat_rooms]",
      "credentials": {
        "mongoDb": {
          "id": "XhJV9sh6HSUrP479",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "activity_id"
            },
            {
              "name": "chain_id"
            },
            {
              "name": "activity_type"
            },
            {
              "name": "occurred_at",
              "type": "object"
            },
            {
              "name": "sender_id"
            },
            {
              "name": "source_type"
            },
            {
              "name": "source_id"
            },
            {
              "name": "source_platform"
            },
            {
              "name": "quoteToken"
            },
            {
              "name": "messages",
              "type": "array"
            },
            {
              "name": "participants",
              "type": "array"
            },
            {
              "name": "participatingGroupsID",
              "type": "array"
            },
            {
              "name": "bot_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1632,
        -560
      ],
      "id": "f2991e09-7076-4a36-8a67-c5e68c7eb9e3",
      "name": "[activity_log]_input2",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1856,
        -304
      ],
      "id": "c5da1621-606f-4caf-a4b1-c84e08c502ff",
      "name": "start"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ecfe47c-3c11-4352-aeb9-e86519b34b03",
              "name": "activity_id",
              "value": "123",
              "type": "string"
            },
            {
              "id": "72764090-4f49-4bef-abf5-1906bb4170c9",
              "name": "chain_id",
              "value": "321",
              "type": "string"
            },
            {
              "id": "330c1698-34bd-4098-9f88-a770422f52bc",
              "name": "activity_type",
              "value": "chat",
              "type": "string"
            },
            {
              "id": "5e448856-7776-4955-8a3b-9efb2f9024d2",
              "name": "occurred_at",
              "value": "={{new Date()}}",
              "type": "object"
            },
            {
              "id": "82f830a7-c54b-41cd-b2fd-6f79b637d65b",
              "name": "sender_id",
              "value": "U69e213818ccd7daa7246eb105d37b7d2",
              "type": "string"
            },
            {
              "id": "1bdf6748-144b-44cd-80cc-0b5fd611e165",
              "name": "source_type",
              "value": "room",
              "type": "string"
            },
            {
              "id": "7f8b1c5f-590a-46ce-8b13-39c20eaf4155",
              "name": "source_id",
              "value": "123",
              "type": "string"
            },
            {
              "id": "33fa3576-ee04-49c5-be3d-1ea1b1e5d989",
              "name": "source_platform",
              "value": "line",
              "type": "string"
            },
            {
              "id": "6da252fd-0e87-4ba6-89d5-36d39a0be1e4",
              "name": "quoteToken",
              "value": "12345",
              "type": "string"
            },
            {
              "id": "8d88eb12-7d39-4bb4-b1ad-995a65a5055e",
              "name": "messages",
              "value": "[{ \"type\":  \"text\", \"id\":  \"587413933980909909\", \"quoteToken\":  \"LV7Na4ITxRsKEzOCP_iFzfILXUhIordOsWi1juLQx1sBlqBxa9SfnEnSbpr661jIWHY9E25r39axFKRozowkTUB7knRM1uSZ7Am-JvagcElJTjDenyMR4uwVUEASY6odyvnFh3wXVcfovz0YZ_E_jw\", \"markAsReadToken\":  \"NM65INMJgbS3Y82M_V6oqp8NHJgdf43urTEMJHrSirWvFmmRx8zqM8I_wa_puoakMdnOjMiGWgCsfWrFXcT1hHlW-w4mdcVY5HozZB27dY0RnR6dwCYsVRoA-dfjO_c_yFTgAn8iW6r5vHocyWpvZ9_V2_qV74qmd6BdKf6bCVFW2ubmyQobTfZ-hE188y6ZgBbbOXFbmarETLQ5NuyWtQ\", \"text\":  \"test\" }]",
              "type": "array"
            },
            {
              "id": "87d494a4-02bd-4b0c-a4ec-1f7a59ce5319",
              "name": "participants",
              "value": "[\"U69e213818ccd7daa7246eb105d37b7d2\"]",
              "type": "array"
            },
            {
              "id": "b327a8cd-6dd3-4f59-a148-117b5e5e58cf",
              "name": "participatingGroupsID",
              "value": "[\"C9a6ae125b2a81abc60a349f088287123\",\"C9a6ae125b2a81abc60a349f088287124\"]",
              "type": "array"
            },
            {
              "id": "80cb557a-0a6e-4791-854c-51dbe1f6677c",
              "name": "bot_id",
              "value": "U69e213818ccd7daa7246eb105d37b7d2",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1648,
        -304
      ],
      "id": "d39c122f-4ce6-4301-9a4b-9497de9a2b5b",
      "name": "[activity_log]_input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4fce7928-7b35-4682-8111-15cf14057d77",
              "name": "activity_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "cf374d0a-9d81-4625-b58c-2dfc5ba8022d",
              "name": "chain_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "3c036c3b-5dbb-42dd-bb6e-44f2bda1c4d1",
              "name": "activity_type",
              "value": "",
              "type": "string"
            },
            {
              "id": "81e518de-d217-4dcd-89a6-18473bc368b7",
              "name": "occurred_at",
              "value": "",
              "type": "object"
            },
            {
              "id": "bbb98196-af8c-427d-a062-fe57baf66bf6",
              "name": "details",
              "value": "",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        -304
      ],
      "id": "946ca885-667b-4b31-82e5-48a1eb39c176",
      "name": "Mapping [conversation_log]"
    },
    {
      "parameters": {
        "jsCode": "// 1) 從另一個節點抓出所有聊天室 items\n//    Node 名稱要與畫面上的顯示一致（含中括號）\nconst chatItems = $items('Find_[chat_rooms]', 0, 0); // -> [{json: {...}}, ...]\n\n// 2) 建立去重集合，把所有 members 塞進來\nconst uniq = new Set();\n\nfor (const item of chatItems) {\n  const m = item.json?.members;\n  if (Array.isArray(m)) {\n    for (const id of m) {\n      if (typeof id === 'string' && id.trim()) {\n        uniq.add(id.trim());\n      }\n    }\n  }\n}\n\n// 3) 從本節點主輸入([activity_log]_input) 取得 sender_id\n//    建議將 Code 節點的主要輸入接到 [activity_log]_input\nconst senderId = $('[activity_log]_input').first().json?.sender_id;\nif (typeof senderId === 'string' && senderId.trim()) {\n  // 不在集合才加入\n  if (!uniq.has(senderId.trim())) {\n    uniq.add(senderId.trim());\n  }\n}\n\n// 4) 只輸出 participants（單一 item）\nreturn [{ json: { participants: Array.from(uniq) } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        -304
      ],
      "id": "5cbb078c-1da4-4c85-ab5f-39ee551aa670",
      "name": "SetParticipants"
    },
    {
      "parameters": {
        "jsCode": "// === 讀來源節點 ===\n// 注意：節點名有中括號一定要加引號\nconst activity = ($items(\"[activity_log]_input\")[0] || {}).json || {};\nconst identityItems = $items(\"Find_[user_identity]\") || [];\n\n// external_user_id -> user_id 對照表\nconst idMap = new Map();\nfor (const it of identityItems) {\n  const j = it.json || {};\n  if (j.external_user_id && j.user_id) {\n    idMap.set(j.external_user_id, j.user_id);\n  }\n}\n\n// === 參與者（participants）===\n// sender：由 activity.sender_id 來，若有對照就用 user_id，否則回退用 external id\nconst senderExt = activity.sender_id;\nconst senderId = idMap.get(senderExt) ?? senderExt;\n\n// 其他參與人（若有），來源於 activity.participants（外部ID陣列）\nconst uniqExt = new Set(Array.isArray(activity.participants) ? activity.participants : []);\n// 確保 sender 也在集合內\nif (senderExt) uniqExt.add(senderExt);\n\n// 建 participants 陣列（user）\nconst participants = [];\nfor (const ext of uniqExt) {\n  const mapped = idMap.get(ext) ?? ext;\n  participants.push({\n    type: \"user\",\n    id: String(mapped),\n    role: ext === senderExt ? \"sender\" : \"recipient\",\n  });\n}\n\n// 加上 bot（recipient）\nif (activity.bot_id) {\n  participants.push({\n    type: \"bot\",\n    id: String(activity.bot_id),\n    role: \"recipient\",\n  });\n}\n\n// === messages ===\n// 若 activity.messages 為空，補一則 meta 訊息以符合 minItems:1\nlet messages = Array.isArray(activity.messages) ? activity.messages : [];\nif (messages.length === 0) {\n  messages = [\n    {\n      type: \"meta\",\n      payload: {\n        note: \"no messages in activity_log\",\n        quoteToken: activity.quoteToken ?? null,\n      },\n    },\n  ];\n} else {\n  // 盡量正規化成 {type, payload} 結構\n  messages = messages.map(m => {\n    if (m && typeof m === \"object\" && m.type && m.payload) return m;\n    return { type: \"meta\", payload: { original: m } };\n  });\n}\n\n// === source ===\n// 你的 schema 範例 properties 列的是 { type, platform, source_id }\n// 但 required 寫的是 [\"type\", \"platform_id\", \"source_id\"]（有落差）\n// 這裡先依照 properties 輸出 {type, platform, source_id}；若你的 validator 真正要求 platform_id，請把下面的 platform 改成 platform_id。\nconst source = {\n  type: String(activity.source_type || \"\"),\n  platform: String(activity.source_platform || \"\"),\n  source_id: String(activity.source_id || \"\"),\n};\n\n// === 其他欄位 ===\nconst doc = {\n  participants,\n  messages,\n  source,\n  quoteToken: activity.quoteToken ?? null,\n  // schema 要求的欄位（雖然未在 properties 明確定義型別）\n  sent_at: activity.occurred_at ? new Date(activity.occurred_at) : new Date(),\n  createdAt: new Date(),\n};\n\n// 回傳單一 item；pairedItem:0 讓 item linking 保持對應\nreturn [{ json: doc, pairedItem: 0 }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        -304
      ],
      "id": "0ebc5edb-0598-4e23-a30f-efe9aa5c743b",
      "name": "mappiing_conversation_log"
    },
    {
      "parameters": {
        "content": "## 整合user_info chatbot_info\n\nuser_info 需添加user_type\n",
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        -576
      ],
      "id": "c8c34879-6da3-4c49-b1d8-057af7652f16",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 建立view整合user_info、user_identity\n中的\nuser_id\nuser_type\nexternal_id\n?\n\n或log 僅記錄id也是可以的\n",
        "height": 272,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -784,
        -672
      ],
      "id": "8e446568-cf90-4a2d-bae0-6e6343fa54c3",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Mapping [activity_log]": {
      "main": [
        [
          {
            "node": "Insert documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find_[user_identity]": {
      "main": [
        [
          {
            "node": "mappiing_conversation_log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find_[chat_rooms]": {
      "main": [
        [
          {
            "node": "SetParticipants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[activity_log]_input2": {
      "main": [
        []
      ]
    },
    "start": {
      "main": [
        [
          {
            "node": "[activity_log]_input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[activity_log]_input": {
      "main": [
        [
          {
            "node": "Find_[chat_rooms]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapping [conversation_log]": {
      "main": [
        [
          {
            "node": "Mapping [activity_log]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetParticipants": {
      "main": [
        [
          {
            "node": "Find_[user_identity]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mappiing_conversation_log": {
      "main": [
        [
          {
            "node": "Mapping [conversation_log]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5f9fee0b-585d-46a8-a74b-271d312609ae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce366878273a0c079b30629c5438592b1b601f9378d29abdf8727b9dd05db8f6"
  },
  "id": "HNmIfxW8QH4VmmvU",
  "tags": []
}