n8n_workflow/ReplyMsg.json
{
  "name": "ReplyMsg",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "woof",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        32
      ],
      "id": "d21b2b0d-c98c-4158-b4ef-e7c9c3618418",
      "name": "Webhook",
      "webhookId": "ef2ed347-9d67-411a-96ab-99c6c0f5a94f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是一隻小狗狗\n根據使用者的訊息\"{{ $('Webhook').item.json.body.events[0].message.text }}\"\n回覆使用者繁體中文",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        48,
        32
      ],
      "id": "0703c10c-16cd-48ab-beff-08d5831399d7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        240
      ],
      "id": "826afdf0-84c2-4aed-ad7f-a3749f8be74d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "LSZ4PIfODaJY2qB2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $('Webhook').item.json.body.events[0].replyToken }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": {{JSON.stringify($json.output) }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        32
      ],
      "id": "2999824a-70b7-4fb3-9a6b-a0295dcc038b",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "KvlwShNX8SHY1lOo",
          "name": "woof"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5e78eb30-669e-49ee-94fe-87ee03361b53",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce366878273a0c079b30629c5438592b1b601f9378d29abdf8727b9dd05db8f6"
  },
  "id": "zSrXZoksox48XDZT",
  "tags": [
    {
      "createdAt": "2025-09-19T08:10:02.844Z",
      "updatedAt": "2025-09-19T08:10:02.844Z",
      "id": "tk4TCgLTTGOhi7zi",
      "name": "ai-agent"
    },
    {
      "createdAt": "2025-09-19T08:10:02.831Z",
      "updatedAt": "2025-09-19T08:10:02.831Z",
      "id": "3sMN94afIsWy1Umw",
      "name": "prd"
    },
    {
      "createdAt": "2025-09-19T08:10:02.848Z",
      "updatedAt": "2025-09-19T08:10:02.848Z",
      "id": "U0pP4kAAZamR3mIo",
      "name": "yt"
    }
  ]
}